<h1 align="center" mat-dialog-title>Update Campaign</h1>
<mat-dialog-content class="edit-form-wrapper">
  <div class="flex flex-column">
    <mat-form-field appearance="fill">
      <mat-label [innerText]="campaignHeaders.CampaignName"></mat-label>
      <input matInput [(ngModel)]="campaignToUpdate.campaignName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label [innerText]="campaignHeaders.CampaignHash"></mat-label>
      <input matInput [(ngModel)]="data.campaignHash" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label [innerText]="campaignHeaders.CampaignUrl"></mat-label>
      <input matInput [(ngModel)]="data.campaignUrl" />
    </mat-form-field>
    <mat-form-field appearance="fill" hintLabel="Max 255 characters">
      <mat-label [innerText]="campaignHeaders.CampaignDesc"></mat-label>
      <textarea
        #textarea
        maxlength="255"
        matInput
        [(ngModel)]="data.campaignDesc"
      ></textarea>
      <mat-hint align="end">{{ textarea.value.length }}/255</mat-hint>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [disabled]="!validateCampaign()"
    [mat-dialog-close]="campaignToUpdate"
    cdkFocusInitial
  >
    Done
  </button>
</mat-dialog-actions>
