@import "../../../../../flex.less";

.donations-wrapper {
  border-top: 0.1px solid #ccc;
  margin: 10px 0px 10px 0px;
  .donations-form-wrapper {
    height: calc(100%-5px);
    margin-top: 5px;
    border-right: 0.1px solid #ccc;

    padding: 10px 15px 0 15px;
    width: 50%;
  }
  .donations-list-wrapper {
    height: calc(100%-5px);
    width: 50%;
  }
  .prd-toAdd-tbl {
    max-height: 63% !important;
    /* overflow-y: scroll !important; */
    overflow-y: auto !important;
    margin-bottom: 28px;
    padding: 10px 15px 0 15px;
  }
}
