<div class="admin-dash-wrapper flex flex-column">
  <h1 class="reports-headline">Reports</h1>
  <div class="reports-btns flex">
    <system-button
      [text]="reportTypes.UserReport"
      [routerLink]="reportRoutes.UsersReport"
    ></system-button>
    <system-button
      [text]="reportTypes.CampaignsReport"
      [routerLink]="reportRoutes.CampaignsReport"
    ></system-button>
    <system-button
      [text]="reportTypes.TweetsReport"
      [routerLink]="reportRoutes.TweetsReport"
    ></system-button>
  </div>
  <h1 class="campaigns-headline">Running Campaigns</h1>
  <div class="running-campaigns flex">
    <cards-list [cardItems$]="campaignsList$"></cards-list>
  </div>
</div>
