<section class="showcase">
  <div class="video-container">
    <video
      src="https://res.cloudinary.com/da4o7cwns/video/upload/v1681156335/pexels-tom-fisk-2169880-1920x1080-30fps_ztwsd6.mp4"
      autoplay
      muted
      loop
    ></video>
  </div>
  <div class="content">
    <img
      class="logo"
      src="https://res.cloudinary.com/da4o7cwns/image/upload/v1673725689/MyUploads/BBE9B64F-4BA5-444B-896B-4C4F4F346F14_xt6h4q.png"
      alt=""
      width="{450}"
      height="{450}"
    />
    <h1 class="unauth-HL">Welcome To PromotIt</h1>
    <h3>System to promote Social Agenda for a better society</h3>
    <a class="get-started-btn" [routerLink]="routes.about"> About us </a>
    <a class="get-started-btn" (click)="onLoginClick()"> Let's Get Started </a>
    <a class="get-started-btn" [routerLink]="routes.contactUs"> Contact us </a>
  </div>
</section>
