<section>
  <div>
    <video
      src="https://traversymedia.com/downloads/video.mov"
      autoplay
      muted
      loop
    ></video>
  </div>
  <div>
    <img
      src="https://res.cloudinary.com/da4o7cwns/image/upload/v1673725689/MyUploads/BBE9B64F-4BA5-444B-896B-4C4F4F346F14_xt6h4q.png"
      alt=""
      width="{450}"
      height="{450}"
    />
    <h1>Welcome To PromotIt</h1>
    <h3>System to promote Social Agenda for a better society</h3>
    <a href="#about"> About us </a>
    <a (click)="onLoginClick()"> Let's Get Started </a>
    <a> Contact us </a>
  </div>
</section>
<section id="about">
  <h1>About</h1>
  <p>
    Our goal is to promote social campaigns. The means to do so involve
    onboarding business organizations that donate products, onboarding
    non-profit organizations that want to promote campaigns, and onboarding
    social activists that can promote those campaigns.
  </p>
</section>
