<div class="non-profit-dash-wrapper flex flex-column">
  <div class="non-profit-headlines flex">
    <div class="headline-btn-wrapper flex flex-column">
      <h1 class="headline">My Campaigns</h1>
      <button class="non-profit-dash-btn" routerLink="my-campaigns">
        Here should be Arrow
      </button>
    </div>
    <div class="headline-btn-wrapper flex flex-column">
      <h1 class="headline">Add Campaign</h1>
      <button class="non-profit-dash-btn" routerLink="add-campaign">
        Here should be Arrow
      </button>
    </div>
  </div>
  <h1 class="campaigns-headline">Running Campaigns</h1>
  <div class="running-campaigns flex">
    <!-- Should be added [cardItems]="campaigns" input from the dashboard component -->
    <cards-list
      [cardItems$]="campaignsList$"
      [cardType]="'campaign'"
    ></cards-list>
  </div>
</div>
