<div class="menu-wrapper flex flex-column">
  <ul class="menu-options-list">
    <li>
      <a class="menu-link">
        <div class="icon">
          <!-- <HomeIcon /> -->
        </div>
        <div
          class="title"
          [innerText]="sidebarItems.home.title"
          [routerLink]="sidebarItems.home.route"
        ></div>
      </a>
    </li>
    <li>
      <a class="menu-link">
        <div class="icon">
          <!-- <InfoIcon /> -->
        </div>
        <div
          class="title"
          [innerText]="sidebarItems.about.title"
          [routerLink]="sidebarItems.about.route"
        ></div>
      </a>
    </li>
    <li>
      <a class="menu-link">
        <div>
          <!-- <CallIcon /> -->
        </div>
        <div
          class="title"
          [innerText]="sidebarItems.contact.title"
          [routerLink]="sidebarItems.contact.route"
        >
          Contact Us
        </div>
      </a>
    </li>
    <!-- <li>
      <a class="menu-link">
        <div> -->
    <!-- <Twitter /> -->
    <!-- </div>
        <div class="title">Tweets</div>
      </a>
    </li> -->

    <li *ngIf="(role$ | async) === 'Social Activist'">
      <a class="menu-link">
        <wallet></wallet>
      </a>
    </li>

    <li>
      <a class="menu-link">
        <div>
          <!--  <Logout />  -->
        </div>
        <div
          class="logout"
          [innerText]="sidebarItems.logout.title"
          (click)="logout()"
        ></div>
      </a>
    </li>
  </ul>
</div>
