@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

html,
body {
  font-size: 16px;
  overflow: hidden;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet + * {
  // This is a hack to fix the issue with the router-outlet not being the first element in the body
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  html,
  body {
    font-size: 12px;
  }
}
