<div class="add-campaign-wrapper">
  <h1 class="headline">Add New Campaign</h1>
  <div class="form-border">
    <div class="form-floating mb-2">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Campaign Name"
      />
      <label htmlfor="floatingInput">Campaign Name</label>
    </div>
    <div class="form-floating mb-2">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="# Your Hashtag"
      />
      <label htmlFor="floatingInput">Campaign Hashtag</label>
    </div>
    <div class="form-floating mb-2">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="URL"
      />
      <label htmlFor="floatingInput">Campaign Landing Page</label>
    </div>
    <div class="form-floating mb-2">
      <textarea
        class="form-control"
        placeholder="About My Campaign"
        id="floatingTextarea"
        maxLength="{254}"
      ></textarea>
      <div class="characters-left">Characters left</div>
      <label htmlFor="floatingTextarea">Description</label>
    </div>
    <div class="form-floating mb-2">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Image"
      />
      <label htmlFor="floatingInput">Campaign Image Url</label>
    </div>
    <system-button text="Add Campaign"> </system-button>
  </div>
</div>
