<div class="table-wrapper flex flex-column" *ngIf="data$ | async as data">
  <filter-and-sort
    [reportType]="type"
    (selectionChange)="onSelectionChange($event)"
    (searchTextChange)="onSearch($event)"
  >
  </filter-and-sort>
  <table class="table table-striped">
    <thead>
      <tr>
        <th
          class="report-headers"
          scope="col"
          *ngFor="let item of reportTemplate"
          (click)="onSort(item.content)"
        >
          {{ item.header }}
          <i class="fa-solid fa-sort fa-xs"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let dataItem of data
            | filterByProperty : selectedOption : propertyToFilterBy
            | sortBy : sortProperty : sortDirection
        "
      >
        <ng-container *ngFor="let item of reportTemplate">
          <td
            *ngIf="item.content !== 'campaignUrl'"
            [innerText]="dataItem[item.content]"
          ></td>
          <td *ngIf="item.content === 'campaignUrl'">
            <a
              [href]="dataItem[item.content]"
              target="_blank"
              rel="noopener noreferrer"
              [innerText]="dataItem[item.content]"
            ></a>
          </td>
        </ng-container>
        <ng-container *ngIf="isMyCampaignsReport">
          <td>
            <div class="flex">
              <div class="flex flex-fill-remaining">
                <button
                  class="btn btn-warning"
                  [innerText]="'Edit'"
                  (click)="onEditCampaign(dataItem)"
                ></button>
              </div>
              <div class="flex flex-fill-remaining">
                <button
                  class="btn btn-sm btn-danger"
                  [innerText]="'Delete'"
                  (click)="onDeleteCampaign(dataItem.id)"
                ></button>
              </div>
            </div></td
        ></ng-container>
        <ng-container *ngIf="isUsersReport">
          <td>
            <button
              class="btn btn-outline-info"
              [innerText]="'Show User Details'"
              (click)="onShowUserDetails(dataItem.userID)"
            ></button>
          </td>
        </ng-container>
        <ng-container *ngIf="isDeliveriesReport">
          <td>
            <button
              class="btn btn-outline-info"
              [innerText]="'Delivered'"
              (click)="onDelivered(dataItem.serialNumber)"
            ></button>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
