<div class="table-wrapper flex flex-column">
  <div class="table-head-row flex">
    <div class="table-head-cell flex flex-fill-remaining"></div>
    <div class="table-head-cell flex flex-fill-remaining"></div>
    <div class="table-head-cell flex flex-fill-remaining"></div>
    <div class="table-head-cell flex flex-fill-remaining"></div>
  </div>
  <div class="table-row flex">
    <div class="table-cell flex flex-fill-remaining"></div>
    <div class="table-cell flex flex-fill-remaining"></div>
    <div class="table-cell flex flex-fill-remaining"></div>
    <div class="table-cell flex flex-fill-remaining"></div>
  </div>
  <div class="table-row flex">
    <div class="table-cell flex-fill-remaining"></div>
    <div class="table-cell flex-fill-remaining"></div>
    <div class="table-cell flex-fill-remaining"></div>
    <div class="table-cell flex-fill-remaining"></div>
  </div>

  <!-- <thead>
          <tr>
            <th scope="col">
              Campaign Name
              <ArrowDropDownOutlinedIcon
                className="dropdown-arr"
                onClick={() => sortReport("campaignName")}
              />
            </th>
            <th scope="col">Campaign Hash</th>
            <th scope="col">
              By
              <ArrowDropDownOutlinedIcon
                className="dropdown-arr"
                onClick={() => sortReport("campaignBy")}
              />
            </th>
            <th scope="col">Website</th>
            <th scope="col">
              Donations
              <ArrowDropDownOutlinedIcon
                className="dropdown-arr"
                onClick={() => sortReport("donations")}
              />
            </th>
          </tr>
        </thead>
        <tbody>
          {campaigns &&
            campaigns.map((campaign) => {
              return (
                <tr>
                  <td>{campaign[1].CampaignName}</td>
                  <td>{campaign[1].CampaignHash}</td>
                  <td>{campaign[1].NonProfitRepID}</td>
                  <td>
                    <a href={campaign[1].CampaignUrl}>
                      <LinkIcon />
                    </a>
                  </td>
                  <td>{campaign[1].DonationsAmount}</td>
                </tr>
              );
            })}
        </tbody>
      </table> -->
</div>
